<div class="profile-container">
  <div class="profile-header">
    <img class="profile-img" src="./profile.png" alt="User Profile Image" />
    <div class="profile-info">
      <h2>{{ profileDetails.username }}</h2>
      <button class="edit-button" (click)="toggleEditMode()">Edit Profile</button>
    </div>
  </div>

  <div class="profile-content">
    <div class="profile-details">
      <h3>Profile Details:</h3>
      <ng-container *ngIf="!isEditMode; else editMode">
        <div class="flex">
          <p>Username:</p>
          <p>{{ profileDetails.username }}</p>
        </div>
        <div class="flex">
          <p>Email:</p>
          <p>{{ profileDetails.email }}</p>
        </div>
      </ng-container>

      <ng-template #editMode>
        <form [formGroup]="form" (ngSubmit)="updateProfile()">
          <div class="flex">
            <p>Username:</p>
            <input type="text" formControlName="username" />
          </div>
          <div class="flex">
            <p>Email:</p>
            <input type="email" formControlName="email" />
          </div>
          <div class="btn-wrapper">
            <button class="red-button" type="button" (click)="onCancel($event)">
              Cancel
            </button>
            <button class="green-button" [disabled]="form.invalid">
              Save
            </button>
          </div>
        </form>
      </ng-template>
    </div>

    <div class="profile-ads">
      <h3>Your Listings:</h3>
      <div class="ads-list">
        <ng-container *ngFor="let item of profileDetails.items">
          <div class="ad-card">
            <img [src]="item.img" alt="{{ item.title }}" />
            <h4>{{ item.title }}</h4>
            <p>{{ item.description }}</p>
            <div class="ad-actions">
              <button [routerLink]="['/edit/' + item._id]">Edit</button>
              <button (click)="deleteItem(item._id)">Delete</button>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
