<footer class="footer_section">
    <div class="container">
        <!-- Лого -->
        <div class="footer-logo">
            <a id="logo" routerLink="/">
                <img id="logo-img" src="./myLogo.png" alt="Logo">
            </a>
        </div>

        <!-- Контактна информация -->
        <div class="footer-contact">
            <h6>Contact us:</h6>
            <p>tel.: +34 643 019 188</p>
            <p>General: vestidor&#64;vestidor.com</p>
            <p>Support: support&#64;vestidor.com</p>
        </div>

        <!-- Абонамент -->
        <div class="footer-subscribe">
            <h6>Subscribe us:</h6>
            <form>
                <input type="email" placeholder="YOUR EMAIL">
                <button type="submit">SUBMIT</button>
            </form>
        </div>
    </div>
</footer>
