<footer class="footer_section">
  <div class="container">
      <!-- Logo -->
      <div class="footer-logo">
          <a id="logo" routerLink="/">
              <img id="logo-img" src="./myLogo.png" alt="Logo">
          </a>
      </div>

      <!-- Contact info -->
      <div class="footer-contact">
          <h6>Contact us:</h6>
          <p>tel.: +34 643 019 188</p>
          <p>General: vestidor&#64;vestidor.com</p>
          <p>Support: support&#64;vestidor.com</p>
      </div>

      <!-- Address -->
      <div class="footer-adres">
          <h6>Address:</h6>
          <p>Av. Artista Remigio Soler 85</p>
          <p>03540, Alicante</p>
          <p>Spain</p>
      </div>
  </div>
</footer>
