/* Основни стилове за секцията */
.hero_section {
  height: 100vh; /* 100% от височината на екрана */
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f3eeee;
  padding: 20px;
  box-sizing: border-box; /* За да се включва padding-а във височината */
}

/* Контейнер за съдържанието */
.hero_container {
  display: flex;
  flex-direction: row; /* Запазва елементите един до друг (текст и изображение) */
  align-items: center; /* Вертикално центрира съдържанието */
  justify-content: center; /* Разделя текста и изображението с максимално пространство */
  width: 100%;
  max-width: 1200px;
  gap: 30px; /* Разстояние между текстовата част и изображението */
}

/* Текстова част */
.detail-box {
  max-width: 45%; /* Ограничаваме ширината на текста */
  color: #333;
  line-height: 1.6; /* Подобрява четимостта */
  text-align: center; /* Подравняваме текста вляво */
}

/* Изображение */
.img-box {
  max-width: 100%; /* Поддържa балансиран вид */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -60px; /* Премества изображението нагоре */
  margin-right: 80px;
}

.img-box img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px; /* Добавя леко заобляне за по-мек вид */
}

/* Стил за бутоните */
.login-btn {
  display: inline-block;
  padding: 12px 24px;
  background-color: #84cc10;
  color: #fff;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease;
  cursor: pointer;
  margin-top: 20px; /* Разстояние над бутона */
}

.catalog-btn {
  display: inline-block;
  padding: 12px 24px;
  background-color: #84cc10;
  color: #fff;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease;
  cursor: pointer;
  margin-top: 40px; /* Разстояние над бутона */
}
.login-btn:hover {
  background-color: #56ad05;
}
.catalog-btn:hover {
  background-color: #56ad05;
}
