<section class="hero_section">
  <div class="hero_container">
    <!-- Текстова част -->
    <div class="detail-box">
      <h1>Welcome To Vestidor!</h1>
      <p>Our mission is to make second-hand products your first choice. </p>
      <p>We want to show you just how great second-hand can be. Sell what you no longer need, or shop unique things you won't find in stores. 
        "Vestidor" is open to anyone who believes that quality items should live longer.</p>

      @if(!isLoggedIn) {
      <div class="logged">
        <ul>
          <a routerLink="/login" class="login-btn">Login</a>
        </ul>
      </div>
      } @else {
        <a routerLink="/catalog" class="catalog-btn">Catalog</a>
      }
      </div>
    </div>

    <!-- Изображение -->
    <div class="col-md-6">
      <div class="img-box">
          <img src=".\slider-img.png" alt="Banner Image">
      </div>
    </div>