<div class="shop-section">
  <div class="categoryBtns">
    <a routerLink="/catalog">All</a>
    <a routerLink="/catalog" [queryParams]="{category: 'Women'}">Women</a>
    <a routerLink="/catalog" [queryParams]="{category: 'Men'}">Men</a>
    <a routerLink="/catalog" [queryParams]="{category: 'Kids'}">Kids</a>
    <a routerLink="/catalog" [queryParams]="{category: 'Accessories'}">Accessories</a>
  </div>

  <div class="row">
    <div class="col-lg-3" *ngFor="let item of catalogItems">
      <div class="box">
        <div class="img-box">
          <img [src]="item.img || './slider-img.png'" alt="{{ item.title }}" />
        </div>
        <div class="detail-box">
          <h6>{{ item.name }}</h6>
          <h6>
            Title:
            <span>{{ item.title }}</span>
          </h6>
          <h6>
            Price:
            <span>{{ item.price | currency:'EUR' }}</span>
          </h6>
        </div>
        <button class="view-button" [routerLink]="['/items/' + item._id]">View Details</button>
      </div>
    </div>
  </div>
</div>