header {
  background: #e4d4bb;
  padding: 2px;
}

header ul {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 75%;
  margin: auto;
}

header ul span {
  color: white;
  padding: 0.5em;
}

header li {
  list-style: none;
  margin: 0.35em;
  padding: 0 0.95em;
  background-color: flex;
  width: 15vw;
  text-align: center;
  border-radius: 20px;
  
}

header li:hover {
  scale: 1.1;
}

header a {
  text-decoration: none;
  color: rgb(54, 53, 53);
  cursor: pointer;
}

.logo {
  margin-left: 0; /* Премахва всякакви излишни отстояния */
  margin-right: auto; /* Избутва елементите вдясно */
  padding-left: 40px; /* Малък отстъп от самия край */
  display: flex;
  align-items: center; /* Вертикално центриране */
}

.logo-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.5em 0;
}

.logo-wrap > img {
  width: 80px !important;
  height: auto !important;
}
/* Стандартен размер на логото */
#logo-img {
  width: 120px;
  height: auto;
}

.footer-logo p {
  color: #6e6e6e;
  font-size: 14px;
  margin: 0;
}
.mini-navbar-wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: auto;
}

