<div class="current-item-container">
  <!-- Image Section -->
  <div class="image-section">
    <img [src]="item.img || './slider-img.png'" alt="{{ item.title }}" />
  </div>

  <!-- Details Section -->
  <div class="details-section">
    <div class="detail-box">
      <h6>Title:
        <span>{{ item.title }}</span>
      </h6>
      <h6>Price:
        <span>{{ item.price | currency:'EUR' }}</span>
      </h6>
    </div>
    <!-- Buy Now Button -->


    <button *ngIf="!isOwner" class="view-button" (click)="buyNow()">Buy Now</button>

    <h6>Category:
      <span>{{ item.category }}</span>
    </h6>
    <h6>Brand:
      <span>{{ item.brand }}</span>
    </h6>
    <h6>Condition:
      <span>{{ item.condition }}</span>
    </h6>
    <h6>Size:
      <span>{{ item.size }}</span>
    </h6>

    <h6>Description:
      <span>{{ item.description }}</span>
    </h6>
